@font-face {
  font-family: 'ABC Normal';
  src: url('~/assets/fonts/ABCNormal.woff2') format('woff2'),
    url('~/assets/fonts/ABCNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BB Studio Mono';
  src: url('~/assets/fonts/BBStudioProMono.woff2') format('woff2'),
    url('~/assets/fonts/BBStudioProMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
}

@screen md {
  html {
    font-size: 125%;
  }
}

@screen lg {
  html {
    font-size: 2vw;
  }
}

body {
  @apply font-body antialiased leading-tight;
}
